In [1]:
def mytabe(num1,num2,num3):
    if num1==num2==num3:
        print(num1*num2*num3)
        
    elif num1>num2>num3:
        sum=num1+num2+num3
        print(num1+num2+num3)
        
    else:
        print(num1**2)

In [2]:
mytabe(3,3,3)

27

In [3]:
mytabe(5,4,3)

12

In [9]:
mytabe(48,4,5)

2304

In [10]:
f = open("new 1.txt", mode='r', encoding='utf-8')

In [11]:
f.read()

"'Machine Learning is an AI technique that teaches computers to learn from experience. Machine learning algorithms use computational methods to “learn” information directly from data without relying on a predetermined equation as a model.\\n'"

In [12]:
f.close()

In [13]:
with open("new 1.txt",'r', encoding = 'utf-8') as f:
    print(f.read())

'Machine Learning is an AI technique that teaches computers to learn from experience. Machine learning algorithms use computational methods to “learn” information directly from data without relying on a predetermined equation as a model.\n'

In [20]:
with open("new.txt",'w', encoding = 'utf-8') as f:
    f.write("my name is \n sam")

In [21]:
with open("new.txt",'a', encoding = 'utf-8') as f:
    f.write("ben\n")

In [22]:
def concat(list):
    result=''
    for element in list:
        result += str(element)
    return result

In [25]:
concat([1,2,3,4,1,2,5,7,9,8,6])

'12341257986'

In [26]:
def personalinfo():
    name = 'ariyaan'
    age=12
    address='turkey,istanbul'
    print(" name:{} \n age:{} \n address:{}".format(name,age,address))

In [27]:
personalinfo()

 name:ariyaan
 age:12
 address:turkey,istanbul

In [1]:
def personalinfo():
    name =  input("please inter your name ")
    age= input("please inter your age ") 
    address=input("please inter your address (optional)  ")
    print(" name:{} \n age:{} \n address:{}".format(name,age,address))

In [2]:
personalinfo()

please inter your name ariyaan
please inter your age 12
please inter your address (optional)  iran,tehran
 name:ariyaan
 age:12
 address:iran,tehran